.project-card {
  background-color: var(--card-bg);
  padding: 1.5rem 2rem; 
  border-radius: 8px;
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: -10px; 
}

.project-card:hover {
  transform: translateY(-10px);
}

.project-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px; 
}

.project-title {
  font-size: 1.5rem;
  color: var(--primary-text);
}

.project-links a {
  color: var(--secondary-text);
  font-size: 1.5rem;
  margin-left: 15px;
  transition: color 0.3s ease;
}

.project-links a:hover {
  color: var(--accent-color);
}

.project-description {
  color: var(--secondary-text);
  margin-bottom: 15px; 
  flex-grow: 1;
}

.project-tech-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  font-family: 'Courier New', Courier, monospace;
  color: var(--secondary-text);
}
