.hero-section {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem; 
}

.hero-content {
  flex: 1; 
  max-width: 500px;
}

.hero-content h1 {
  font-size: clamp(40px, 5vw, 60px);
  margin: 0;
  line-height: 1.1;
}

.hero-content p {
  margin-top: 25px;
  max-width: 540px;
  color: var(--secondary-text);
}

.hero-button {
  margin-top: 50px;
  padding: 1rem 2rem;
  font-size: 1rem;
  color: var(--accent-color);
  background-color: transparent;
  border: 1px solid var(--accent-color);
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.hero-button:hover {
  background-color: rgba(100, 255, 218, 0.1);
}


.hero-grid-container {
  flex: 1.5; 
  max-width: 700px; 
  height: 300px; 
  position: relative;
}

@media (max-width: 992px) {
  .hero-section {
    flex-direction: column; 
    justify-content: center;
    text-align: center;
    padding-top: 120px;
  }

  .hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    order: 2; 
    flex: none;
  }

  .hero-grid-container {
    width: 100%;
    max-width: 500px;
    height: 200px; 
    margin-bottom: 40px;
    order: 1; 
    flex: none;
  }
}
